.App {
  text-align: center;
}

.dayloop-list{
  background-color: aqua;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 240, 186);
}
.date{
  padding: 10px 15px 5px 15px;
}
.weather{
  padding: 5px 15px 0px 15px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: navy;
}

.App-link {
  color: #61dafb;
}

